@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ffefea;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  margin: auto;
  padding: 20px;
}

.btn {
  cursor: pointer;
  background-color: darksalmon;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 8px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: 0;
}

.btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

/* Start: Textbox */
.textbox {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.textbox select {
  background-color: darksalmon;
  border: 0;
  color: #fff;
  font-size: 12px;
  height: 30px;
  width: 100%;
}

.textbox textarea {
  border: 1px #dadada solid;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin: 15px 0;
  max-width: 100%;
  max-height: 150px;
}

.textbox .btn {
  width: 100%;
}

.textbox .close {
  float: right;
  text-align: right;
  cursor: pointer;
}
/* End: Textbox */

/* Start: Main Section */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
/* End: Main Section */
